{% set title = "글 상세보기" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>제목</th>
                <td>{{ data.title }}</td>
            </tr>
            <tr>
                <th>말머리</th>
                <td>{{ data.brackets }}</td>
            </tr>
            <tr>
                <th>내용</th>
                <td>{{ data.description }}</td>
            </tr>
        </table>

        <a href="/posts/issue/edit/{{ data.id }}" class="btn btn-default">수정하기</a>
        <a href="/posts/issue" class="btn btn-default">목록</a>

    </form>

{% endblock %}