{% set title = "시사 게시판" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        <tr>
            <td>제목</td>
            <td>날짜</td>
            <td>삭제</td>
        </tr>
        {% for item in lists %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.createdAt }}
                </td>
                <td>
                    <a href="#" class="btn btn-danger">삭제</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="/posts/issue/write" class="btn btn-default">작성하기</a>

{% endblock %}