{% set title = "시사 게시판" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        <tr>
            <td>제목 예시</td>
            <td>날짜 예시</td>
            <td>삭제 예시</td>
        </tr>
        {% for item in lists %}
        <tr>
            <td>
                <a href="/posts/issue/detail/{{ item.id }}">
                    {{ item.title }}
                </a>
            </td>
            <td>
                <a href="/posts/issue/detail/{{ item.id }}">
                    {{ item.dateFormat( Item.createdAt ) }}
                </a>
            </td>
            <td>
                <a href="/posts/issue/delete/{{ item.id }}" class="btn btn-danger">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/posts/issue/write" class="btn btn-default">작성하기</a>
    
{% endblock %}